

<div id="form">
  <div class="title">Welcome</div>
   <h2 class="subtitle">Login your account!</h2>

  <form action="/login" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>

    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button class="submit" type="submit">Login</button>

    <a href="/login" class="submit">Create new account</a>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
