

<div id="form" class="form">
<div class="title">Welcome</div>
   <h2 class="subtitle">Let's create your account!</h2>
  <form action="/signup" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="ironhacker" required />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" required />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" required />
    </label>

    <button class="submit" type="submit">Sign up</button>
    <a href="/login" class="submit">Login</a>
 {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

   
  </form>
</div>
